.contenedor {
	text-align: center;
	padding: 0px;
	margin: auto;
	width: 95%;
	image-orientation: center;
	border line-height: black;
}

.cuadrado {
	text-align: center;
	padding: 0px;
	margin: auto;
	width: 95%;
	image-orientation: center;
  border line-height: black;
	background color: yellow;
}
