*{
	box-sizing: content-box;
}


#contenedor {
	padding: 20px;
	width: 95%;
	border: 1px solid black;
}

#cuadrado {
	flex-direction: row;
	width: 50%;
	height: 300px;
  border: 1px solid black;
	background-color: yellow;
}
